---
import Section from "../Section.astro";

import { education } from "cv-es.json";


 
---




<Section title="Education">
  <ul>
    {
      education.map(({ name, institution, endDate, url }) => {

        return (
          <li>
            <article>
              <header>
                <h3>
                  {name}
                  <span id="lightWeight">en</span>
                  <a href={url} target="_blank" title={`Pagina web de ${url}`}>
                    {" "}
                    {institution}
                  </a>
                </h3>
                <span>{endDate}</span>
              </header>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  @import url('../../variables.css');

 

  #lightWeight { 
    font-weight: 400;
    color: var(--softGrey);
  }
</style>