---
import Section from "@/components/Section.astro";
import Arrow from "@/icons/Arrow.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";
const { currentLocale } = Astro
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import { getI18N } from "@/i18n/index"
const i18n = getI18N({ currentLocale })
const work = i18n.work
---
<br id="print">
<Section title={t("section.experience")}>
  <ul>
    {
      work.map(({ company, startDate, endDate, position, url, summary }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual";
        const years = `${startYear} - ${endYear}`;

        return (
          <li>
            <article>
              <div id="hero">
                <header>
                  <div id="arrow">
                    <Arrow />
                  </div>
                  <h3>
                    {position}
                    <span id="lightWeight">{t("at")}</span>
                    <a href={url} target="_blank" id="company">
                      {company}
                    </a>
                  </h3>
                </header>
                <p>{summary}</p>
              </div>
              <time>{years}</time>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  @import url("@/css/variables.css");

  * {
    /* border: 0.5px solid #ff0000; */
  }

  a:hover {
    /* text-decoration: underline; */
    color: var(--softGrey);
    text-shadow: 2px 2px 4px var(--light);
  }

  article {
    display: flex;

    justify-content: space-between;
  }
  header {
    display: flex;
  }
  header div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  #lightWeight {
    font-weight: 400;
    color: var(--softGrey);
  }
  #company {
    color: var(--darkGrey);
    font-weight: 500;
  }

  article p {
    margin-left: 19px;
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-top: 5px;
  }
  article #hero {
    width: 80%;
  }

  article time {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    color: var(--softGrey);
    font-size: 0.85rem;
    width: 17%;

  }
  
  @media screen and (max-width: 670px) {
    article time {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      text-align: right;
    }
  }
  @media print {
    #print {
      page-break-before: always;
    }
  }
</style>
