---
import { basics } from "../../../cv-es.json";
import Section from "../Section.astro";
import Mail from "../../icons/Mail.astro";
import Phone from "../../icons/Phone.astro";
import X from "../../icons/X.astro";
import GitHub from "../../icons/GitHub.astro";
import LinkedIn from "../../icons/LinkedIn.astro";
import LocationIcon from "../../icons/LocationIcon.astro";

const { name, label, image, location, profiles, phone, email, nickname } = basics;
const { city, region } = location;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
  X,
};


const linkedInInfo = profiles.find(({ network }) => network === "LinkedIn")
const linkedUsername = linkedInInfo?.username

const githubInfo = profiles.find(({ network }) => network === "GitHub")
const githubUsername = githubInfo?.username

---

<Section>
  <div class="container">
    <div class="info">
      <h1>{name}</h1>
      <h2>{label}</h2>
      <span>
        <div>
          <LocationIcon />
        </div>
        <div>
          {city}, {region}
        </div>
      </span>
      <footer id="print">
        <p>Email: {basics.email}</>
        <p>Telef.: {basics.phone}</p>
        <p>LinkedIn: {linkedUsername}</p>
        <p>GitHub: {githubUsername}</p>
      </footer>
      <footer id="no-print">
        <div id="profiles">
          {
            email && (
              <a
                href={`mailto:${email}`}
                title={`Enviar un correo electrónico a ${nickname} al correo ${email}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Mail />
              </a>
            )
          }
          {
            phone && (
              <a
                href={`tel:${phone}`}
                title={`Llamar por teléfono a ${nickname} al número ${phone}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Phone />
              </a>
            )
          }
          {
            profiles.map(({ network, url }) => {
              const Icon = SOCIAL_ICONS[network];

              return (
                <a
                  href={url}
                  title={`Visitar el perfil de ${nickname} en ${network}`}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <Icon />
                </a>
              );
            })
          }
        </div>
        <a id="webPage" target="_blank" title=`Visitar la pagina web de ${nickname}` href={basics.url}>
          <p>Official Web Page</p>
        </a>
      </footer>
    </div>
    <figure>
      <img src={image} alt={name} />
    </figure>
  </div>
</Section>

<!-- ========================= ESTILOS ========================= -->
<style>
  @import url("../../variables.css");

  * {
    /* border: 0.5px solid black; */
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  #print {
    width: fit-content;
  }
  #print p {
    font-size: 0.8rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  h1 {
    font-size: 2.2rem;
    font-weight: 800;
  }

  h2 {
    color: var(--softGrey);
    font-weight: 500;
    font-size: 1.1rem;
    text-wrap: balance;
  }

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 128px;
    border-radius: 25px;
  }

  span {
    color: var(--softGrey);
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1rem;
    letter-spacing: -0.01rem;
    /* height: 19px; */
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer, #profiles {
    width: min-content ;
  }

  #profiles,
  #webPage {
    display: flex;
    gap: 8px;
    margin-left: 0;
    margin-block: 4px;

    font-size: 0.7rem;
    color: var(--softGrey);
  }
  #webPage {
    width: 100%;
  }
 
  footer a {
    color: var(--softGrey);
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--softGrey);
    justify-content: center;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  footer a:hover {
    background: var(--light);
    border: 2px solid var(--white);
  }
  

</style>
